<button class="btn float-end d-md-none sidebar-open" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
        role="button">
    <i class="bi bi-list fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
</button>
<div class="main-container align-items-center">
    <div class="main-content__title">Редактирование категории доходов</div>
    <div class="main-content__wrapper-element card-group d-flex flex-wrap p-0">
        <div class="category-add-and-edit border-0">
            <input type="text" class="form-control" id="category-name" placeholder="Название..." value="">
            <span id="category-name-error" class="error invalid-feedback">Заполните поле</span>
            <div class="actions f-weight-500">
                <button id="save" class="btn btn-success f-size-14 l-height-24 px-3">Сохранить</button>
                <a href="/categories-income" type="button" class="btn btn-danger ml-10 f-size-14 l-height-24 px-3">Отмена</a>
            </div>
        </div>
    </div>
</div>
