<!-- Modal -->
<div class="modal fade" id="deleteModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content py-40 text-center rounded-4 ">
            <div class="modal-body f-weight-500 h5 color-violet p-0 mb-20" id="delete-modal-title">
                Вы действительно хотите удалить операцию?
            </div>
            <div class="px-3 ">
                <button id="confirm-remove" type="button" class="btn btn-success f-size-14 f-weight-500 mx-2">Да,
                    удалить
                </button>
                <button type="button" class="btn btn-danger f-size-14 f-weight-500" data-bs-dismiss="modal">Не удалять
                </button>
            </div>
        </div>
    </div>
</div>